asgiref==3.8.1
click==8.1.7
colorama==0.4.6
dj-database-url==2.1.0
Django==5.1.6
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
imageio==2.34.1
joblib==1.4.2
lazy-loader==0.4
mysqlclient==2.2.4
networkx==3.3
nltk==3.8.1
numpy==1.26.4
opencv-contrib-python-headless==4.9.0.80
packaging==24.0
pillow==10.3.0
PyJWT==2.8.0
pytesseract==0.3.10
regex==2024.5.15
scikit-image==0.22.0
scikit-learn==1.5.0
scipy==1.13.0
sqlparse==0.5.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tqdm==4.66.4
tzdata==2024.1
whitenoise==6.6.0